<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
</head>
<body>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  
  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">	
	<h1>Directions:</h1>
	<p>This tool accepts only '.csv' files. The column name in the file must be 'zip_codes' and the file should then consist of a single column of zip codes. The ouput will be a new list of zip codes with a 10 mile radius along with a second column giving the original zip which the new zip was in the radius of.</p>
	<form action="download" method="post" enctype="multipart/form-data">
		<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
	  	<p>Radius selection:</p>
	  	<select name="radius" id="radius">
    	  		<option value="10">10</option>
    	  		<option value="25">25</option>
  	  	</select>
		</div>
	  <input type="file" name="csvFile" accept=".csv">
	  <button type="submit" formmethod="post">Submit</button>
	</form>
  </div>
  
<!-- End Page Content -->
</div>

</body>
</html>
